:root { 
--white_A700_4c:#ffffff4c; 
--gray_600:#747474; 
--gray_700:#5c5c5c; 
--gray_50_01:#f8f8f8; 
--blue_gray_700_66:#53535366; 
--green_100:#cff4d9; 
--green_A700_63:#0fc74363; 
--blue_gray_100:#d9d9d9; 
--white_A700_1e:#ffffff1e; 
--gray_900:#141414; 
--gray_900_01:#1e1e1e; 
--gray_300:#e0e0e0; 
--gray_50:#f7fdf9; 
--gray_100:#f2f2f2; 
--green_A700:#0fc743; 
--white_A700:#ffffff; 
--black_900_05:#00000005; 
}